body {
  display: grid;
  place-content: center;
  height: 100vh;
  scale: 1;
  background: black;
}
#ball {
  fill: red;
}

svg {
  background-color: black; 
}

:not(.radioWave) {
  stroke: white;
  stroke-width: 5px; /* Adjust thickness as needed */
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; /* Keeps shapes unfilled unless otherwise needed */
}

.radioWave {
  stroke: #f6ff00;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
 }
